html, body
{
    height: 100%;
    font-family: Verdana, Arial, sans-serif;
    color: #666666;
    background: #CCCCCC;
}

a
{
    color: #555555;
}

p.error
{
    color: red;
}

p.success
{
    color: green;
}

*
{
    margin: 0;
    padding: 0;
}

#site
{
    min-width: 950px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    height: 100%;
}

#global_header
{
    background: #EEEEEE;
    padding: 10px 0px 10px 0px;
    margin: 0 auto;
    border-top: 1px solid #00b3eb;
    height: 90px;
}

#user_menu
{
    float: right;
    width: auto;
}

#user_menu li
{
    list-style: none;
    padding-top: 2px;
}

#user_menu a
{
    text-decoration: none;
    text-align: right;
    border-bottom: 1px dashed #777777;
}

#main_menu
{
    background: #555555;
    margin: 0 auto;
    height: 20px;
    border-top: 1px solid #00b3eb;
    box-shadow: 0px 1px 2px  #000000;
    font-size: 110%;
}

#main_menu li:hover
{
    background: rgba(20, 20, 50, 0.7);
}

#non_nav
{
    margin-top: 10px;
}

#horizontal_list
{
    list-style-type: none;
    display: inline;
    padding: 0;
}

#horizontal_list li
{
    display: inline;
    border-right: 1px solid #AAAAAA;
}

#horizontal_list li:first-child
{
    border-left: 1px solid #AAAAAA;
}

#horizontal_list a
{
    color: #EEEEEE;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}

.fiveply-content-box
{
    height: 180px;
    width: 180px;
    background: rgba(4,126,236,0.5);
    background-position: center;
    background-size: cover;
    display: inline-block;
    margin: 2px;
    border: 2px solid rgba(200, 200, 200, 1);
    border-radius: 3px;
    vertical-align: bottom;
}

.fiveply-content-box p
{
    font-size: 100%;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.75);
    position: relative;
    top: 120px;
}


.threeply-content-box
{
    height:180px;
    width: 300px;
    background: rgba(255, 255, 255,0.8);
    border: 2px solid rgba(200, 200, 200,0.6);
    display:inline-block;
    margin: 5px;
    border-radius: 3px;
    text-align: center;
    vertical-align: bottom;
}

.threeply-content-box h4
{
    margin-bottom: 10px;
}

.threeply-content-box li, h4
{
    margin: 5px;
    list-style: none;
}

.content_box
{
    background: #EEEEEE;
    border-radius: 5px;
    box-shadow: 0px 0px 4px #555555;
    margin-bottom: 30px;
}

.restrict_and_center
{
    width: 950px;
    margin: 0 auto;
}

.pad
{
    padding: 5px;
}

.spacer
{
    height: 15px;
}

.form_button {
    color: #FFFFFF;
    font-size: 100%;
    padding: 10px 10px 10px 10px;
    border: none;
    background-color: rgba(200,200,200,0.6);
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset;
}

.form_button:hover
{
    box-shadow: 0 0 0 2px rgba(0,0,0,.20) inset,0 0 6px rgba(0,0,0,.5) inset;
}

#item_list ul
{
    width: 100%;
    padding: 0 0 0 0;
    margin: 0 auto;
}
#item_list span.username, span.type
{
    display: inline-block;
    width: 30%;
}
#item_list span.full_name
{
    display: inline-block;
    width: 40%;
}
#item_list span.article-type, span.authors, span.title, span.status
{
    vertical-align: top;
    display: inline-block;
    width: 25%;
}
#item_list li
{
    color: #FFFFFF;
    list-style: none;
    border-radius: 2px;
    padding: 10px;
    margin: 10px 0 10px 0;
    border: 5px solid rgba(0,0,0,0);
    cursor: pointer;
    display: none;
}

#item_list li:hover
{
    box-shadow: 0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset;
}

li.subscriber, li.submitted
{
    background: rgba(80, 0, 80, .6);
}
li.writer, li.awaiting_changes
{
    background: rgba(25, 25, 60, .6);
}
li.publisher, li.under_review
{
    background: rgba(25, 60, 25, .6);
}
li.editor, li.published
{
    background: rgba(60, 25, 25, .6);
}
li.rejected
{
    background: rgba(100, 0, 0, .6);
}

#item_list li.title
{
    background: rgba(0,0,0,0);
    color: #444444;
    font-weight: bold;
}
#item_list li.title:hover
{
    cursor: auto;
}
#item_list li.guidance_message
{
    background: rgba(0,0,0,0);
    color: #444444;
    font-weight: bold;
    display:inherit;
}
#item_list li.selected
{
    border: 5px dotted rgba(0,0,0,0.7);
}

#comment_list ul
{
    width: 100%;
    padding: 0 0 0 0;
    margin: 0 auto;
}

#comment_list li
{
    color: #FFFFFF;
    list-style: none;
    border-radius: 2px;
    padding: 10px;
    margin: 10px 0 10px 0;
    border: 5px solid rgba(0,0,0,0);
}

#comment_list span.author
{
    color: rgba(0,0,0,0.8);
}

#comment_list span.comment
{
    color: rgba(0,0,0,0.5);
}

#management
{
    width: 100%;
}

#management_menu
{
    vertical-align: top;
    display: inline-block;
    margin: 10px 10px 10px 10px;
    width: 710px;
}

#management_menu .buttons
{
    text-align: center;
    display: none;
}

#management_selectors
{
    vertical-align: top;
    border-right: 2px solid rgba(50,50,50,0.5);
    margin: 10px 10px 10px 10px;
    display: inline-block;
    width: 192px;
}
#management_selectors li
{
    color: #444444;
    background: rgba(200,200,200,0.2);
    list-style: none;
    border-radius: 2px;
    padding: 10px;
    margin: 10px 0 10px 0;
    border: none;
    cursor: pointer;
}
#management_selectors li.title
{
    font-weight: bold;
    background: rgba(0,0,0,0);
    cursor: auto;
}
#management_selectors li.selected
{
    background: rgba(100,100,100,0.7);
    color: #FFFFFF;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset;
}

#commenting_area
{
    width: 370px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

#article-area
{
    margin: 30px 30px 30px 30px;
}

#article
{
    width: 600px;
    text-align: justify;
    display: inline-block;
}

#article-meta
{
    vertical-align: top;
    margin: 0px 30px 0px 30px;
    padding: 10px 10px 10px 10px;
    border: 2px solid rgba(50,50,50,0.4);
    width: 200px;
    display: inline-block;
}

#cover-image
{
    width: 890px;
    height: 400px;
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
}

#cover-image h2
{
    font-weight: bold;
    font-size: 250%;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 450px;
}

.cf:before,
.cf:after
{
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after
{
    clear: both;
}
.cf
{
    *zoom: 1;
}